* {margin: 0; padding: 0;}
body {background-color: white;
         font-family: sans-serif;}

#header {background-color:whitesmoke;
         height: 200px;
        width: 90%; 
        margin: 0 auto;
        overflow: hidden;}

.logo {margin: 50px;
        width: 100%;
        max-width: 250px;
        max-height: 180px;
        margin-top: 10px        
}

#navegacion {background-color:darkred ;
                 height: 100px;
                width: 100%;
                float: left; }

.botones{font-size: 20px; 
        text-decoration: none;
        color: lightgray;
         font-weight: 800; 
        list-style: none;
        display: flex; 
        margin: 0 auto; 
        padding-top: 20px; }


.botones li a {
        color:white;
        text-decoration: none;
        background: black;
        display: block;
        padding: 13px; 
        margin-left: 25px;}

.botones li a:hover {color: red}